.vercel
.venv
.env
**/.env
**/.vscode

# Telegram 
**/session.*
etl/pub/messages/*

# Python 
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ETl/Dataset (large files)
etl/data
etl/data/geojson_layers
etl/flood_road_segment_matching.ipynb


# MacOS 
*/.DS_Store
*/__pycache__