.vercel
.venv
.env
**/.env
**/.vscode

# Telegram 
**/session.*
etl/pub/messages/*

# Python 
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ETl/Dataset (large files)
etl/data
etl/data/geojson_layers
etl/data/geojson/layers
etl/data/onemap/raw
etl/**/*.csv




# MacOS 
*/.DS_Store
*/__pycache__
